#about{
  max-width: 100vw;
}
.contain{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
  width: 80%;
  margin: auto;
  margin-bottom: 250px;
}
.type{
  color: rgb(0, 0, 116);
  text-shadow: 3px 3px 2px rgb(0, 0, 0);
}
.abt{
  padding: 35px;
  line-height: 45px;
  color: black;
}

@media only screen and (max-width: 800px) {
 .contain{
  width: 100%;
  font-size: small;
 }
}