header {
  height: 80px;
  background: #11101b;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  z-index: 2;
  width: 99vw;
}
.res{
  margin-right: 50px;
}
.logo {
  font-size: 28px;
  font-weight: bold;
  color: white;
  font-family: serif;
  font-style: bold;
  letter-spacing: 1px;
}

.burger {
  display: flex;
  margin-right: 50px;
}
.nav-bar ul {
  display: flex;
  list-style: none;
  column-gap: 10px;

}
.nav-bar ul li .Link {
  display: block;
  color: white;
  font-size: 20px;
  transition: 1s all;
  text-decoration: none;
  margin: 0 5px;
  border-bottom: 0px solid red;
}

/* animation hover effect for nav items */

.nav-bar ul li .Link:hover {
  color: rgb(72, 255, 0) !important;
}

.Link {
  text-decoration: none;
  color: white;
}

.nav-bar ul li .Link {
  display: inline-block;
  position: relative;
}

.nav-bar ul li .Link:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #0087ca;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.nav-bar ul li .Link:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;

}

/* responsiveness */

@media only screen and (max-width: 1320px) {
  header {
    padding: 0 50px;
  }
}

@media only screen and (max-width: 1100px) {
  header {
    padding: 0 30px;
  }
}


@media only screen and (max-width: 950px) {
  
  .burger {
    display: block;
    cursor: pointer;
  }
  .burger .line {
    width: 30px;
    height: 3px;
    background: white;
    margin: 6px 0;
  }
  .nav-bar {
    position: absolute;
    top: 80px;
    left: 0;
    right: 0;
    z-index: 1;
    background-color: #11101b;
    height: 0;
    overflow: hidden;
  }
  .nav-bar.active {
    height: 400px;
    display: block;
  }

  .nav-bar.active ul {
    opacity: 1;
  }

  .nav-bar ul {
    display: block;
    width: fit-content;
    transition: 0.4s;

    margin: 80px auto 0 auto;
    opacity: 0;
    text-align: center;
  }
  .nav-bar ul li .Link {
    margin-bottom: 12px;
  }
}
