#project {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.techStack > img {
  width: 50px;
}

.techStack {
  display: flex;
  gap: 20px;
}

.p1 {
  display: flex;
  width: 90%;
  justify-content: center;
  margin: auto;
  padding: 20px;
  background-color: black;
  border-radius: 30px;
}
.p1 > div > img {
  width: 400px;
}
.p1 > div {
  font-size: larger;
}

.head {
  margin: auto;
  text-align: center;
}
.bla {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: larger;
  margin-left: 50px;
}



.tst {
  margin-left: 100px;
  display: flex;
  width: 150%;
  align-items: center;
  margin-top: 20px;
  justify-content: flex-end;
}
.projectText{
  font-size: larger;
}
button {
  background-color: teal;
  border: none;
  height: 30px;
  border-radius: 20px;
  width: 100px;
}
a {
  text-decoration: none;
  color: white;
  font-size: larger;
}

.p1>div>img{
  border-radius: 20px;
}

.pimg2{
  position: relative;
  right: 11%;
}

.pimg3{
  position: relative;
  right: 22%;
}

@media only screen and (max-width: 1000px) {
  .p1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .tst{
    flex-direction: column;
    width: 80%;
    position: relative;
    right: 60px;
  }
  .pimg2,.pimg3,.pimg{
    width: 400px;
    position: static;
  }
  .p1 div{
    margin-top: 30px;
  }
}


@media only screen and (max-width: 700px) {
  .p1 {
    display: block;
    width: 80%;
  }
  .projectText {
    font-size: 20px;
    text-align: center;
  }
  .p1 > {
    justify-content: center;
    margin: auto;
    align-items: center;
  }
  .techStack {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 10px;
  }
  button {
    margin: 20px;
  }
  .techStack > img {
    width: 25px;
  }
  .p1>div>img{
    border-radius: 20px;
    margin: auto;
    position: relative;
    left: 50px;
  }
}


@media only screen and (max-width: 600px) {
  .p1>div>img{
    position: static;
    width: 80vw;
  }
}