@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@200&family=Ubuntu&display=swap');

*{
    font-family: 'Libre Franklin', sans-serif;
    font-family: 'Ubuntu', sans-serif;
}

.App>div{
}

.App{
    max-width: 100vw;
    flex-direction: column;
}



